@charset "utf-8";

.button-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    
}

.button {
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    color: #ffffff;
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

/*css for the  button1*/
.button1{
    background-color: purple;
    border-radius: 50%;
    font-size: 25px;
    padding: 40px 20px;
}

/*css for the  button2*/
.button2{
    background-color: rgb(0, 162, 255);
    border-radius: 50%;
    font-size: 25px;
    padding: 40px 20px;
}


/*css for the  button3*/
.button3{
    background-color: green;
    border-radius: 50%;
    font-size: 25px;
    padding: 50px 20px;
}

/*css for the  button4*/
.button4{
    background-color: orange;
    border-radius: 50%;
    font-size: 25px;
    padding: 40px 20px;
}

/*css for the  button5*/
.button5{
    background-color: rgb(255, 0, 200);
    border-radius: 50%;
    font-size: 25px;
    padding: 40px 20px;
}

/*css for the  button6*/
.button6{
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        font-size: 25px;
        padding: 50px 20px;
    }

/*css for the  button7*/
.button7{
            background-color: rgb(0, 255, 255);
            border-radius: 50%;
            font-size: 25px;
            padding: 50px 20px;
        }

        /*css for the  html that sets background color yellow*/
html{
    background-color: burlywood;
}

/*css for the  h1 hover
background color*/
 h1:hover{
    background-color: red;
    
}

/*css for the  img elemnt 
width 40%
float left*/
.img{
    width: 40%;
    float: left;
}
.imagecol{
    width:100%;
    height: 100%;
}
/*css for the  main 
width 60%
float right*/
main{
    width: 60%;
    float: right;
}

/*css for the  sbtn that adds padding to it*/
.sbtn{
    padding: 100px;
}

/*css for the  rsbtn 
that changes position and padding*/
.rsbtn{
    position: relative;
    padding: 50px;
}

/*css for the p tag that sets background color to white 
and font size to 30px
font style italic
color black*/
.text{
  background-color: white;
  font-size: 30px;
  font-style: italic;
  color: black;
}

#displayValue{
    background-color: white;
    font-size: 30px;
    font-style: italic;
    color: black;
}

 
